$color-title: #d9ad26;
$color-alt: rgb(109, 106, 106);
$color-menu: #9e790b;
$color-text: black;
@mixin bs-margin {
    margin-right: 10px;
    padding-right: 10px;
}

nav{
    text-transform: uppercase;
    font-family: 'Gruppo', cursive;
    font-size: 1rem;
    text-align: right;
    li{
        display: inline-table;
        margin: 10px 7px 20px;
        font-weight: bold;
        a{
            text-decoration: none;
            color: $color-menu;
        }
    }
    
}